{% load static tailwind_tags %}

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Hogwarts Management System{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
            body {
                font-family: 'Cinzel', serif;
                
            }
        </style>
        {% tailwind_css %}
    </head>
    <body class="bg-[#edeae5]">

        <main>
            {% block content %}
            {% endblock %}
        </main>

        {% comment %} <footer class="text-gray-600 body-font">
            <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
                <p class="text-gray-500 text-sm text-center sm:text-left">
                    © Hogwarts Management System — All rights reserved
                </p>
            </div>
        </footer> {% endcomment %}
    </body>
</html>
