{% extends "./base.html" %}
{% load static %}


{% block title %}{{ professor.name }}'s Dashboard{% endblock %}

{% block content %}
<style>
    .dashboard-card, .dashboard-main-card {
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
    }
    .dashboard-card:hover {
        background-color: rgba(255, 255, 255, 0.6);
    }
</style>

<h2 class="text-4xl font-bold text-center mt-10">Professor <span class="text-amber-600">{{ professor.name }}</span>'s Dashboard</h2>
<div class="mt-10 flex flex-col items-center justify-center">
    <div class="container mx-auto px-6 rounded-lg">
        <div about="{{ professor.professor_id }}" typeof="hogwarts:Professor" class="dashboard-main-card shadow-xl rounded-lg p-6 mb-10">
            <div rel="hogwarts:hasAccount" typeof="hogwarts:Wizard" resource="{{ professor.id }}" class="grid grid-cols-1 shadow dashboard-main-card bg-white rounded-lg p-6 md:grid-cols-2 gap-4 text-gray-800">
                <p><strong>Gender:</strong><span property="hogwarts:hasGender">{{ professor.gender|default:"Unknown" }}</span></p>
                <p><strong>Species:</strong><span property="hogwarts:hasSpecies">{{ professor.species|default:"Unknown" }}</span></p>
                <p><strong>Blood Type:</strong><span property="hogwarts:hasBloodType">{{ professor.blood_type|default:"Unknown" }}</span></p>
                <p><strong>Wand:</strong><span property="hogwarts:hasWand">{{ professor.wand|default:"Unknown" }}</span></p>
                <p><strong>Patronus:</strong><span property="hogwarts:hasPatronus">{{ professor.patronus|default:"Unknown" }}</span></p>
                <p><strong>School:</strong> {{ professor.school_name|default:"Unknown" }}</p>
                <div>
                    <button class="text-amber-600 text-left" onclick="openEditPersonalInfoModal()" style="background-color: transparent; border: none; padding: 0; cursor: pointer;">
                        Edit
                    </button>
                </div>
            </div>
            <div rel="hogwarts:teachesAtSchool" typeof="hogwarts:School" resource="{{ professor.school_uri }}">
                <span property="hogwarts:hasSchoolName" content="{{ professor.school_name }}"></span>
            </div>

            {% for course in courses %}
            <div rel="hogwarts:teaches" typeof="hogwarts:Course" resource="{{ course.id }}" class="dashboard-main-card shadow rounded-lg p-6 mt-10">
                <h3 property="hogwarts:hasCourseName" class="text-2xl font-semibold mb-3 text-amber-600">{{ course.name }} Course</h3>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div class="dashboard-card bg-white rounded-lg shadow p-4">
                        <h4 class="font-semibold">Spells Taught:</h4>
                        <div id="spellsContainer{{ forloop.counter }}" class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">

                        </div>
                    </div>
                    
                    <div class="dashboard-card bg-white rounded-lg shadow p-4">
                        <h4 class="font-semibold">Students Enrolled:</h4>
                        <ul id="studentsContainer{{ forloop.counter }}" class="list-disc pl-5 mt-4">
                            
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>

<div id="studentModal" class="fixed inset-0 z-50 hidden overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-center justify-center min-h-screen">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75"></div>
        <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:w-full sm:max-w-lg">
            <form id="studentPassStudent" method="post" action="{% url 'pass_student' %}">
                {% csrf_token %}
                <input type="hidden" name="student_id" id="hiddenStudentId" value="">
                <input type="hidden" name="course_id" id="hiddenCourseId" value="">
                <div class="px-4 pt-5 pb-4 bg-white">
                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 text-center sm:mt-0 sm:text-left w-full">
                            <h3 class="text-lg leading-6 font-medium text-gray-900" id="student-modal-title">Student Details</h3>
                            <div class="mt-4">
                                <div class="flex flex-col space-y-2">
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium text-gray-500">Attending Year:</p>
                                        <p id="studentAttendingYear" class="text-sm text-gray-900"></p>
                                    </div>
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium text-gray-500">Name:</p>
                                        <p id="studentName" class="text-sm text-gray-900"></p>
                                    </div>
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium text-gray-500">House Points:</p>
                                        <p id="studentPoints" class="text-sm text-gray-900"></p>
                                    </div>
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium text-gray-500">Gender:</p>
                                        <p id="studentGender" class="text-sm text-gray-900"></p>
                                    </div>
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium text-gray-500">Species:</p>
                                        <p id="studentSpecies" class="text-sm text-gray-900"></p>
                                    </div>
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium text-gray-500">Blood Type:</p>
                                        <p id="studentBloodType" class="text-sm text-gray-900"></p>
                                    </div>
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium text-gray-500">Eye Color:</p>
                                        <p id="studentEyeColor" class="text-sm text-gray-900"></p>
                                    </div>
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium text-gray-500">Wand:</p>
                                        <p id="studentWand" class="text-sm text-gray-900"></p>
                                    </div>
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium text-gray-500">Patronus:</p>
                                        <p id="studentPatronus" class="text-sm text-gray-900"></p>
                                    </div>
                                    <div class="flex justify-between">
                                        <p class="text-sm font-medium text-gray-500">Skills:</p>
                                        <p id="studentSkills" class="text-sm text-gray-900"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button type="submit" class="mt-3 w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">Pass Student</button>
                    <button type="button" class="mt-3 mr-2 w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-amber-600 text-base font-medium text-white hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-500 sm:mt-0 sm:w-auto sm:text-sm" onclick="closeStudentModal()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="spellModal" class="fixed inset-0 z-50 hidden overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-center justify-center min-h-screen">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75"></div>
        <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:w-full sm:max-w-lg">
            <div class="px-4 pt-5 pb-4 bg-white">
                <div class="sm:flex sm:items-start">
                    <div class="mt-3 text-center sm:mt-0 sm:text-left w-full">
                        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Spell Details</h3>
                        <div class="mt-4">
                            <div  class="flex flex-col space-y-2">
                                <div class="flex justify-between">
                                    <p class="text-sm font-medium text-gray-500">Name:</p>
                                    <p id="spellName" class="text-sm text-gray-900"></p>
                                </div>
                                <div class="flex justify-between">
                                    <p class="text-sm font-medium text-gray-500">Effect:</p>
                                    <p id="spellEffect" class="text-sm text-gray-900"></p>
                                </div>
                                <div class="flex justify-between">
                                    <p class="text-sm font-medium text-gray-500">Incantation:</p>
                                    <p id="spellIncantation" class="text-sm text-gray-900"></p>
                                </div>
                                <div class="flex justify-between">
                                    <p class="text-sm font-medium text-gray-500">Light:</p>
                                    <p id="spellLight" class="text-sm text-gray-900"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-amber-600 text-base font-medium text-white hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm" onclick="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Personal Info Modal -->
<div id="editPersonalInfoModal" class="fixed inset-0 z-50 hidden overflow-y-auto" aria-labelledby="edit-personal-info-modal-title" role="dialog" aria-modal="true">
    <div class="flex items-center justify-center min-h-screen">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75"></div>
        <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:w-full sm:max-w-lg">
            <form id="editPersonalInfoForm" method="post" action="{% url 'update_wizard' %}">
                {% csrf_token %}
                <div class="grid grid-cols-2 gap-4 p-4">
                    <input type="hidden" name="wizard_id" value="{{ professor.id }}">
                    
                    <div>
                        <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Name</label>
                        <input required type="text" name="name" id="name" value="{{ professor.name }}" placeholder=""
                               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    
                    <div>
                        <label for="gender" class="block text-gray-700 text-sm font-bold mb-2">Gender</label>
                        <select name="gender" id="gender" value="{{ professor.gender }}" class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <option value="male" {% if professor.gender == "male" %} selected {% endif %}>Male</option>
                            <option value="female" {% if professor.gender == "female" %} selected {% endif %}>Female</option>
                            <option value="undefined" {% if professor.gender == "undefined" %} selected {% endif %}>Undefined</option>
                        </select>
                    </div>
                    
                    <div>
                        <label for="blood_type" class="block text-gray-700 text-sm font-bold mb-2">Blood Type</label>
                        <select name="blood_type" id="blood_type" value="{{ professor.blood_type }}" class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <option value="half_blood" {% if professor.blood_type == "half_blood" %} selected {% endif %}>Half-blood</option>
                            <option value="pure-blood" {% if professor.blood_type == "pure-blood" %} selected {% endif %}>Pure-blood</option>
                            <option value="muggle-born" {% if professor.blood_type == "muggle-born" %} selected {% endif %}>Muggle-born</option>
                            <option value="part-human" {% if professor.blood_type == "part-human" %} selected {% endif %}>Part-Human</option>
                        </select>
                    </div>
                    
                    <div>
                        <label for="species" class="block text-gray-700 text-sm font-bold mb-2">Species</label>
                        <select name="species" id="species" value="{{ professor.species }}" class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <option value="human" {% if professor.species == "human" %} selected {% endif %}>Human</option>
                            <option value="half-human" {% if professor.species == "half-human" %} selected {% endif %}>Half-Human</option>
                            <option value="werewolf" {% if professor.species == "werewolf" %} selected {% endif %}>Werewolf</option>
                            <option value="ghost" {% if professor.species == "ghost" %} selected {% endif %}>Ghost</option>
                            <option value="centaur" {% if professor.species == "centaur" %} selected {% endif %}>Centaur</option>
                        </select>
                    </div>
                    
                    <div>
                        <label for="eye_color" class="block text-gray-700 text-sm font-bold mb-2">Eye Color</label>
                        <input type="text" name="eye_color" id="eye_color" value="{{ professor.eye_color }}" placeholder=""
                               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    
                    <div>
                        <label for="patronus" class="block text-gray-700 text-sm font-bold mb-2">Patronus</label>
                        <input type="text" name="patronus" id="patronus" value="{{ professor.patronus }}" placeholder=""
                               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    
                    <div>
                        <label for="wand" class="block text-gray-700 text-sm font-bold mb-2">Wand</label>
                        <input type="text" name="wand" id="wand" value="{{ professor.wand }}" placeholder=""
                               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button type="submit" class="mt-3 w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">Update Changes</button>
                    <button type="button" class="mt-3 mr-2 w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-amber-600 text-base font-medium text-white hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-500 sm:mt-0 sm:w-auto sm:text-sm" onclick="closeEditPersonalInfoModal()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var courses = {{ courses|safe }};
        
        courses.forEach((course, index) => {
            var container = document.getElementById(`spellsContainer${index+1}`);
            course.spells.forEach(spell => {
                var spellButton = document.createElement('button');
                spellButton.innerText = spell.name;
                spellButton.classList.add("text-black");
                spellButton.classList.add("text-left");
                spellButton.classList.add("hover:text-amber-600");
                spellButton.onclick = function() { openModal(spell); };
                container.appendChild(spellButton);

                var spellDiv = document.createElement('div');
                spellDiv.setAttribute('typeof', 'hogwarts:Spell');
                spellDiv.setAttribute('rel', 'hogwarts:teachesSpell');
                spellDiv.setAttribute('resource', spell.id);

                var hasEffect = document.createElement('div');
                hasEffect.setAttribute('property', "hogwarts:hasEffect");
                hasEffect.setAttribute('content', spell.effect);

                spellDiv.appendChild(hasEffect);

                var hasIncantation = document.createElement('div');
                hasIncantation.setAttribute('property', "hogwarts:hasIncantation");
                hasIncantation.setAttribute('content', spell.incantation);

                spellDiv.appendChild(hasIncantation);

                var hasLight = document.createElement('div');
                hasLight.setAttribute('property', "hogwarts:hasLight");
                hasLight.setAttribute('content', spell.light);

                spellDiv.appendChild(hasLight);

                var hasName = document.createElement('div');
                hasName.setAttribute('property', "hogwarts:hasName");
                hasName.setAttribute('content', spell.name);

                spellDiv.appendChild(hasName);

                var hasType = document.createElement('div');
                hasType.setAttribute('property', "hogwarts:hasType");
                hasType.setAttribute('content', spell.type);

                spellDiv.appendChild(hasType);
                container.appendChild(spellDiv);

            });
        });
    });

    function openModal(spell) {
        document.getElementById('spellName').innerText = spell.name;
        document.getElementById('spellEffect').innerText = spell.effect;
        document.getElementById('spellIncantation').innerText = spell.incantation;
        var light = spell.light ? spell.light : 'Unknown';
        document.getElementById('spellLight').innerText = light;
        document.getElementById('spellModal').style.display = 'block';

    }

    function closeModal() {
        document.getElementById('spellModal').style.display = 'none';
    }

    document.addEventListener('DOMContentLoaded', function() {
        var courses = {{ courses|safe }};

        courses.forEach((course, index) => {
            var studentsContainer = document.getElementById(`studentsContainer${index+1}`);
            
            course.students_enrolled.forEach(student => {
                var studentLi = document.createElement('li');
                var studentButton = document.createElement('button');
                studentButton.innerText = student.name;
                studentButton.classList.add("text-black");
                studentButton.classList.add("hover:text-amber-600");
                studentButton.onclick = function() { openStudentModal(course, student); };
                studentLi.appendChild(studentButton);
                studentsContainer.appendChild(studentLi);

                var studentDiv = document.createElement('div');
                studentDiv.setAttribute('typeof', 'hogwarts:Student');
                studentDiv.setAttribute('rel', 'hogwarts:isLearnedBy');
                studentDiv.setAttribute('resource', student.student_id);

                var hasSchoolYear = document.createElement('div');
                hasSchoolYear.setAttribute('property', "hogwarts:hasSchoolYear");
                hasSchoolYear.setAttribute('content', student.attending_year);

                studentDiv.appendChild(hasSchoolYear);

                var hasStarRating = document.createElement('div');
                hasStarRating.setAttribute('property', "hogwarts:hasStarRating");
                hasStarRating.setAttribute('content', student.star);

                studentDiv.appendChild(hasStarRating);

                var wizardDiv = document.createElement('div');
                wizardDiv.setAttribute('typeof', 'hogwarts:Wizard')
                wizardDiv.setAttribute('rel', "hogwarts:hasAccount");
                wizardDiv.setAttribute('resource', student.id);

                var hasSpecies = document.createElement('div');
                hasSpecies.setAttribute('property', "hogwarts:hasSpecies");
                hasSpecies.setAttribute('content', student.species);

                wizardDiv.appendChild(hasSpecies);

                var hasBloodType = document.createElement('div');
                hasBloodType.setAttribute('property', "hogwarts:hasBloodType");
                hasBloodType.setAttribute('content', student.blood_type);

                wizardDiv.appendChild(hasBloodType);

                var hasName = document.createElement('div');
                hasName.setAttribute('property', "hogwarts:hasName");
                hasName.setAttribute('content', student.name);

                wizardDiv.appendChild(hasName);

                var hasEyeColor = document.createElement('div');
                hasEyeColor.setAttribute('property', "hogwarts:hasEyeColor");
                hasEyeColor.setAttribute('content', student.eye_color);

                wizardDiv.appendChild(hasEyeColor);

                var hasGender = document.createElement('div');
                hasGender.setAttribute('property', "hogwarts:hasGender");
                hasGender.setAttribute('content', student.gender);

                wizardDiv.appendChild(hasGender);

                var hasPatronus = document.createElement('div');
                hasPatronus.setAttribute('property', "hogwarts:hasPatronus");
                hasPatronus.setAttribute('content', student.patronus);

                wizardDiv.appendChild(hasPatronus);

                var hasWand = document.createElement('div');
                hasWand.setAttribute('property', "hogwarts:hasWand");
                hasWand.setAttribute('content', student.wand);

                wizardDiv.appendChild(hasWand);

                studentDiv.appendChild(wizardDiv);
                studentsContainer.appendChild(studentDiv);

            });
        });
    });

    function openStudentModal(course, student) {

        var gender = student.gender ? student.gender : 'Unknown';
        var species = student.species ? student.species : 'Unknown';
        var blood_type = student.blood_type ? student.blood_type : 'Unknown';
        var eye_color = student.eye_color ? student.eye_color : 'Unknown';
        var wand = student.wand ? student.wand : 'Unknown';
        var patronus = student.patronus ? student.patronus : 'Unknown';
        var skills = student.skills.join(', ') ? student.skills : 'Unknown';
        var points = student.points ? student.points : 'Not Determined';
        document.getElementById('studentName').innerText = student.name;
        document.getElementById('studentAttendingYear').innerText = student.attending_year;
        document.getElementById('studentGender').innerText = gender;
        document.getElementById('studentSpecies').innerText = species;
        document.getElementById('studentBloodType').innerText = blood_type;
        document.getElementById('studentEyeColor').innerText = eye_color;
        document.getElementById('studentWand').innerText = wand;
        document.getElementById('studentPatronus').innerText = patronus;
        document.getElementById('studentSkills').innerText = skills;
        document.getElementById('studentPoints').innerText = points;
        
        document.getElementById('hiddenStudentId').value = student.student_id;
        document.getElementById('hiddenCourseId').value = course.id;
        
        document.getElementById('studentModal').style.display = 'block';
    }

    function closeStudentModal() {
        document.getElementById('studentModal').style.display = 'none';
    }
</script>
<script>
    function openEditPersonalInfoModal() {
        document.getElementById('editPersonalInfoModal').style.display = 'block';
    }

    function closeEditPersonalInfoModal() {
        document.getElementById('editPersonalInfoModal').style.display = 'none';
    }
</script>

{% endblock %}
